<div class="{{ name }} baseModuleStyle soundfamiliartcSection {{ module.custom_style.custom_class }} " id="{{ module.custom_style.section_id }}">
  <span class="baseModuleOverlay"></span>
  <div class="baseModuleParent"> 
    <div class="content-wrapper">
      {# Custum Width Option #}
      <div class="customWidthOption soundfamiliartcInSec">
        <div class="soundfamiliartctitlesec text-center">
          {% if module.content_group.tag %}
          <div class="soundfamiliartctitleTag  purple_color p3 medium" data-aos="fade-up">
            <p>{{ module.content_group.tag }}</p>
          </div>
          {% endif %}
           {% if  module.content_group.title  %}
        <div class="moduleTitle soundfamiliartcTitle pt30" data-aos="fade-up" data-aos-delay="50">
          {{ module.content_group.title }}
        </div>
          {% endif %}
          {% if module.content_group.content %}
          <div class="moduleContent pt20 soundfamiliartcContent secondary_60_color" data-aos="fade-up" data-aos-delay="100">
            {{ module.content_group.content }}
          </div>
          {% endif %}
        </div>

        <div class="soundfamiliartcBoxSection pt40">
          {% for item in module.content_group.section_group %}
          <div class="soundfamiliartcBox" data-aos="fade-up" data-aos-delay="{{ loop.index * 100 }}">
            <div class="soundfamiliartcBoxLogo">
              <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"><line x1="6" y1="6" x2="18" y2="18"></line><line x1="18" y1="6" x2="6" y2="18"></line></svg>
            </div>
            <div class="soundfamiliartcBoxText secondary_60_color">
              <h6>{{ item.box_text }}</h6>
            </div>
          </div>
          {% endfor %}
        </div>
       
      </div>
          {# End Custum Width Option #}



    </div>
  </div>

</div>

    {% require_css %}
   
    <style>

{#       {% scope_css %} #}
        
      {# Desktop Styling #}
      .{{name}}.baseModuleStyle{
        position:relative;
      
        {{ module.style.spacing.desktop_spacing.css }}
       
        {% if module.style.background_property.background_choice == 'bgImage'  %}
         background-image:url('{{ module.style.background_property.background_image.src|escape_url }}');  background-position: center center;  background-repeat: no-repeat; background-size : cover;
        {% elif module.style.background_property.background_choice == 'bgColor'  %}
        background-color:rgba({{ module.style.background_property.background_color.color|convert_rgb }},{{ module.style.background_property.background_color.opacity }}%);
        {% elif module.style.background_property.background_choice == 'gredient'  %}
        background:{{ module.style.background_property.background_gredient.css }};
        {% endif %}
      } 
      /****  Overlay Start  *****/
      {% if module.style.background_property.background_choice == 'bgImage'  %}
      .{{name}} .baseModuleOverlay{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color:rgba({{ module.style.background_property.overlay_color.color|convert_rgb }},{{ module.style.background_property.overlay_color.opacity }}%); }
      {% endif %}
      /****  Overlay Start  *****/
      .{{name}} .baseModuleParent{position:relative; z-index:5}



      {# End Desktop Styling #}

      {# Tablet Styling #}
      @media(max-width:1300px){
        .{{name}}.baseModuleStyle{
           {{  module.style.spacing.tab_spacing.css }}
        } 
      }
      {# End Tablet Styling #}
      {# Mobile Styling #}
      @media(max-width:767px){
        .{{name}}.baseModuleStyle{
          {{ module.style.spacing.mobile_spacing.css  }}
        } 
      }
      
{#       {% end_scope_css %} #}
    </style>
  {% end_require_css %}
