<div class="{{ name }} baseModuleStyle FourColumnSection version1 {% if module.content_group.hide_backgorund_gradient %} hideFourColumnShape {% endif %} {{ module.custom_style.custom_class }} " id="{{ module.custom_style.section_id }}">
  <span class="baseModuleOverlay"></span>
  <div class="baseModuleParent"> 
    <div class="content-wrapper">
      {# Custum Width Option #}
      <div class="customWidthOption FourColumnInSec">
        {% if module.content_group.hide_title_section %}
        {% else %}
        <div class="FourColumnTitleSec pb75 text-center">
          {% if module.content_group.sub_title %}
          <div class="FourColumnSubTitle purple_color p3 medium" data-aos="fade-up">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
<path d="M9 3C9 6.86599 12.134 10 16 10C12.134 10 9 13.134 9 17C9 13.134 5.86599 10 2 10C5.86599 10 9 6.86599 9 3Z" fill="#6347FF"/>
</svg>
            </span>
            <p>{{ module.content_group.sub_title }}</p>
          </div>
          {% endif %}
          {% if  module.content_group.title  %}
          <div class="moduleTitle FourColumnTitle  {% if module.content_group.sub_title %} pt30 {% endif %}" data-aos="fade-up" data-aos-delay="50">
            {{ module.content_group.title }}
          </div>
            {% endif %}
            {% if module.content_group.content %}
            <div class="moduleContent pt20 FourColumnContent secondary_60_color" data-aos="fade-up" data-aos-delay="100">
              {{ module.content_group.content }}
            </div>
            {% endif %}
          </div>
          {% endif %}

          <div class="FourColumnBoxSection d_flex gap20 {% if module.content_group.want_three_column %} FourTrColumnBoxSection {% endif %}">
            {% for item in module.content_group.column_group %}
            <div class="FourColumnBox FourColumnBox-{{ loop.index }}" data-aos="fade-up" data-aos-delay="{{ loop.index * 100}}"> 
              {% if item.use_svg_instead_of_image %}
                <div class="FourColumnBoxLogo">
                  {{ item.svg_image }}
              </div>
              {% else %}
              <div class="FourColumnBoxLogo">
                <img src="{{ item.box_logo.src }}" alt="{{ item.box_logo.alt }}">
              </div>
              {% endif %}
              {% if item.box_title %}
              <div class="FourColumnBoxTitle lh12">
                <h5>{{ item.box_title }}</h5>
              </div>
              {% endif %}
              {% if item.box_content %}
              <div class="FourColumnBoxCnt dark_navy_blue_75_color">
                {{ item.box_content }}
              </div>
              {% endif %}
              {% if item.inner_want_cta %}
              <div class="FourColumnBoxCTA pt20">
                 {% set href = item.inner_cta_group.button_link.url.href %}
                {% if item.inner_cta_group.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                {% if item.inner_cta_group.button_link.url.type is equalto "PHONE_NUMBER" %}
                {% set href = "tel:" + href %}
                {% endif %}

                <a href="{{ href }}" class="p3 medium"
                   {% if item.inner_cta_group.button_link.open_in_new_tab %}target="_blank"{% endif %}
                   {% if item.inner_cta_group.button_link.rel %}rel="{{ item.inner_cta_group.button_link.rel }}"{% endif %}
                   >
                 {{ item.inner_cta_group.button_text }}

                </a>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>

      </div>
          {# End Custum Width Option #}



    </div>
  </div>

</div>

    {% require_css %}

    <style>

{#       {% scope_css %} #}
        {% if module.content_group.want_change_spacing %}
        {% set spacinggrp = module.content_group.spacing_group %}
      .{{ name }} .FourColumnBoxSection  .FourColumnBox {
        padding: {{ spacinggrp.top }}px {{ spacinggrp.right }}px {{ spacinggrp.bottom }}px {{ spacinggrp.left }}px;
      }

      {% endif %}

       {% for item in module.content_group.column_group %}

.{{ name }} .FourColumnBoxSection  .FourColumnBox-{{ loop.index }} .FourColumnBoxLogo{
  color : {{ item.svg_color.css }};
  background-color: {{ item.logo_background_color.css }};
}
.{{ name }} .FourColumnBoxSection  .FourColumnBox-{{ loop.index }} .FourColumnBoxCTA a {
  color : {{ item.inner_cta_group.button_color.css }};
}
       {% endfor %}

      {# Desktop Styling #}
      .{{name}}.baseModuleStyle{
        position:relative;
      
        {{ module.style.spacing.desktop_spacing.css }}
       
        {% if module.style.background_property.background_choice == 'bgImage'  %}
         background-image:url('{{ module.style.background_property.background_image.src|escape_url }}');  background-position: center center;  background-repeat: no-repeat; background-size : cover;
        {% elif module.style.background_property.background_choice == 'bgColor'  %}
        background-color:rgba({{ module.style.background_property.background_color.color|convert_rgb }},{{ module.style.background_property.background_color.opacity }}%);
        {% elif module.style.background_property.background_choice == 'gredient'  %}
        background:{{ module.style.background_property.background_gredient.css }};
        {% endif %}
      } 
      /****  Overlay Start  *****/
      {% if module.style.background_property.background_choice == 'bgImage'  %}
      .{{name}} .baseModuleOverlay{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color:rgba({{ module.style.background_property.overlay_color.color|convert_rgb }},{{ module.style.background_property.overlay_color.opacity }}%); }
      {% endif %}
      /****  Overlay Start  *****/
      .{{name}} .baseModuleParent{position:relative; z-index:5}



      {# End Desktop Styling #}

      {# Tablet Styling #}
      @media(max-width:1300px){
        .{{name}}.baseModuleStyle{
           {{  module.style.spacing.tab_spacing.css }}
        } 

         {% if module.content_group.want_change_spacing %}
        {% set spacinggrp = module.content_group.spacing_group %}
      .{{ name }} .FourColumnBoxSection  .FourColumnBox {
        padding: 30px;
      }
      {% endif %}

      }
      {# End Tablet Styling #}
      {# Mobile Styling #}
      @media(max-width:767px){
        .{{name}}.baseModuleStyle{
          {{ module.style.spacing.mobile_spacing.css  }}
        } 
      }
      
{#       {% end_scope_css %} #}
    </style>
  {% end_require_css %}

    {% require_js %}
<script>
  $(window).on('load resize',function() {
  equalheightc(`.{{ name }} .FourColumnBoxTitle`);
  

});

equalheightc = function(container){
    var currentTallest = 0, currentRowStart = 0, rowDivs = new Array(), jQueryel, topPosition = 0;
    jQuery(container).each(function() {
        $el = jQuery(this);
        jQuery($el).height('auto')
        topPostion = $el.position().top;
        if (currentRowStart != topPostion) {
            for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
                rowDivs[currentDiv].height(currentTallest);
            }
            rowDivs.length = 0; // empty the array
            currentRowStart = topPostion;
            currentTallest = $el.outerHeight();
            rowDivs.push($el);
        } else {
            rowDivs.push($el);
            currentTallest = (currentTallest < $el.outerHeight()) ? ($el.outerHeight()) : (currentTallest);
        }
        for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
            rowDivs[currentDiv].height(currentTallest);
        }
    });
}
  </script>
{% end_require_js %}
