<div class="{{ name }} baseModuleStyle twtrpayrollsection {{ module.custom_style.custom_class }} " id="{{ module.custom_style.section_id }}">
  <span class="baseModuleOverlay"></span>
  <div class="baseModuleParent"> 
    <div class="content-wrapper">
      {# Custum Width Option #}
      <div class="customWidthOption twtrpayrollInSection">
        <div class="twtrpayrollTitleSection text-center">
          {% if module.content_group.tag %}
          <div class="twtrpayrollTag p3 purple_color">
            <p>{{ module.content_group.tag }}</p>
          </div>
          {% endif %}
        
        {% if  module.content_group.title  %}
        <div class="moduleTitle twtrpayrollTitle pt20">
          {{ module.content_group.title }}
        </div>
          {% endif %}
          {% if module.content_group.content %}
          <div class="moduleContent pt20 twtrpayrollContent">
            {{ module.content_group.content }}
          </div>
          {% endif %}
          </div>

          <div class="twtrpayrollBoxSection pt40">
            <div class="twtrpayrollBox">
              <ul>
                {% for item in module.content_group.section_group %}
                {% set loopfirst = loop.first %}
                <li>
                  <div class="twtrpayrollBoxTitleSec {% if item.highlight_col %}highlight{% endif %}">
                    {% if item.title_group.tag %}
                    <div class="twtrpayrollBoxTag p3 purple_color medium">
                      <p>{{ item.title_group.tag }}</p>
                    </div>
                    {% endif %} 
                    {% if  item.title_group.title  %}
                    <div class="twtrpayrollBoxTitle pt15">
                      <h5>{{ item.title_group.title }}</h5>
                    </div>
                  {% endif %}
                    {% if item.title_group.content %}
                    <div class="twtrpayrollBoxContentMain pt5 secondary_60_color p2">
                      <p>{{ item.title_group.content }}</p>
                    </div>
                    {% endif %}
                  </div>
                  <div class="twtrpayrollBoxContentsection">
                    {% for item2 in item.list_group %}
                    <div class="twtrpayrollBoxContentsec">                    
                    {% if loopfirst %}
                    <div class="twtrpayrollBoxContentitle">
                      <h6>{{ item2.title }}</h6>
                    </div>
                    {% else %}
                    <div class="twtrpayrollBoxContent p2 secondary_60_color">
                      <p>
                        {% if item2.icon_choice == "check" %}
                        <span class="{{ item2.icon_choice }}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="9" viewBox="0 0 10 9" fill="none">
<path d="M0.875 5.54167L3.27072 7.5744C3.43684 7.71535 3.51991 7.78583 3.6138 7.77528C3.7077 7.76474 3.77306 7.67759 3.90377 7.5033L8.875 0.875" stroke="white" stroke-width="1.75" stroke-linecap="round"></path>
</svg>
                        </span>
                        {% elif item2.icon_choice == "uncheck" %}
                        <span class="{{ item2.icon_choice }}">
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 329.269 329" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M194.8 164.77 323.013 36.555c8.343-8.34 8.343-21.825 0-30.164-8.34-8.34-21.825-8.34-30.164 0L164.633 134.605 36.422 6.391c-8.344-8.34-21.824-8.34-30.164 0-8.344 8.34-8.344 21.824 0 30.164l128.21 128.215L6.259 292.984c-8.344 8.34-8.344 21.825 0 30.164a21.266 21.266 0 0 0 15.082 6.25c5.46 0 10.922-2.09 15.082-6.25l128.21-128.214 128.216 128.214a21.273 21.273 0 0 0 15.082 6.25c5.46 0 10.922-2.09 15.082-6.25 8.343-8.34 8.343-21.824 0-30.164zm0 0" fill="#ffffff" opacity="1" data-original="#000000" class=""></path></g></svg>
                        </span>
                        {% endif %}
                          {{ item2.title }}
                      </p>
                    </div>
                    {% endif %}
                    </div>
                    {% endfor %}
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>


      </div>
          {# End Custum Width Option #}



    </div>
  </div>

</div>

    {% require_css %}

   
    <style>

{#       {% scope_css %} #}
        
      {# Desktop Styling #}
      .{{name}}.baseModuleStyle{
        position:relative;
      
        {{ module.style.spacing.desktop_spacing.css }}
       
        {% if module.style.background_property.background_choice == 'bgImage'  %}
         background-image:url('{{ module.style.background_property.background_image.src|escape_url }}');  background-position: center center;  background-repeat: no-repeat; background-size : cover;
        {% elif module.style.background_property.background_choice == 'bgColor'  %}
        background-color:rgba({{ module.style.background_property.background_color.color|convert_rgb }},{{ module.style.background_property.background_color.opacity }}%);
        {% elif module.style.background_property.background_choice == 'gredient'  %}
        background:{{ module.style.background_property.background_gredient.css }};
        {% endif %}
      } 
      /****  Overlay Start  *****/
      {% if module.style.background_property.background_choice == 'bgImage'  %}
      .{{name}} .baseModuleOverlay{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color:rgba({{ module.style.background_property.overlay_color.color|convert_rgb }},{{ module.style.background_property.overlay_color.opacity }}%); }
      {% endif %}
      /****  Overlay Start  *****/
      .{{name}} .baseModuleParent{position:relative; z-index:5}



      {# End Desktop Styling #}

      {# Tablet Styling #}
      @media(max-width:1300px){
        .{{name}}.baseModuleStyle{
           {{  module.style.spacing.tab_spacing.css }}
        } 
      }
      {# End Tablet Styling #}
      {# Mobile Styling #}
      @media(max-width:767px){
        .{{name}}.baseModuleStyle{
          {{ module.style.spacing.mobile_spacing.css  }}
        } 
      }
      
{#       {% end_scope_css %} #}
    </style>
  {% end_require_css %}
